.ProductContainer > a{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 400px;
  background-color: lightblue;
  
};

.link{
    background-color: orange;
}

.input{
    margin-left: 90px;
}